#home {
    text-align: center;
    img {
        height: 8rem;
        width: auto;
        margin: auto;
        border-radius: 50%;
    }
    div {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        justify-content: center;
        a {
            outline: 2px solid grey;
            margin: 1rem;
            padding: 1rem;
            text-decoration: none;
            font-weight: bolder;
            color: #58a6ff;
        }
    }
}