@import url("./styles/tailwind.css");
@import url("./styles/markdown.css");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

::-webkit-scrollbar {
    width: 0px;
}

* {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scroll-margin-block-start: 4.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 100vh;
    font-family: "IBM Plex Sans";
}

#lepichu-text, .blog-details-text {
    font-family: "Zilla Slab";
}

footer, .header-nav {
    font-family: "IBM Plex Serif";
    font-weight: 500;
}

header > nav > svg {
    max-height: 2rem;
    max-height: 2rem;
}

header {
    backdrop-filter: blur(0.175rem);
}
